.rbc-header {
	font-size: 0.875rem; /* text-sm */
	font-weight: 400; /* font-normal */
	padding-bottom: 1rem; /* pb-4 */
	color: hsl(var(--muted-foreground));
	border-bottom-width: 0;
}
.rbc-header + .rbc-header {
	border-left-width: 0;
}
.rbc-button-link {
	font-size: 0.75rem; /* text-xs */
	line-height: 1rem;
	font-weight: 400;
}
.rbc-month-row {
	@apply min-h-[180px];
	border-top-width: 1px; /* border-t */
	border-bottom-width: 1px; /* border-t */
	border-left-width: 1px;
	border-right-width: 1px;
}
.rbc-month-row:last-of-type {
	border-bottom-width: 1px;
	border-top-left-radius: 0; /* reset to avoid conflicts */
	border-top-right-radius: 0; /* reset to avoid conflicts */
	border-bottom-right-radius: 0.375rem; /* rounded-b-md */
	border-bottom-left-radius: 0.375rem;
}

:not(.rbc-month-row ~ .rbc-month-row).rbc-month-row {
	border-top-width: 1px; /* border-t */
	border-right-width: 1px; /* border-x */
	border-left-width: 1px; /* border-x */
	border-bottom-width: 0; /* border-b-0 */

	border-top-left-radius: 0.375rem; /* rounded-t-md */
	border-top-right-radius: 0.375rem; /* rounded-t-md */
	border-bottom-left-radius: 0; /* reset if needed */
	border-bottom-right-radius: 0;
}

.rbc-month-view {
	border-style: none; /* border-none */
	border-width: 0;
}

.rbc-date-cell {
	padding: 0.5rem;
}

.rbc-today {
	background: inherit;
}
.rbc-off-range-bg {
	background: inherit;
}
